@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
 font-family: 'Manrope', sans-serif;
 font-size: 15px;
 line-height: 25px;

}

h1 {
  font-size: 56px;
  line-height:58px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2{
  font-size: 40px;
  line-height: 44px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h3 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h4 {
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h5 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.overline-txt {
  font-size: 14px;
  line-height:24px;
  font-weight: 500;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.bg-img {
  background-size: cover;
  background-position: 25% 75%;
  background-repeat: no-repeat;
  
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (min-width: 1000px) {
  body {
    margin: 32px 165px;
  }
}

